@import '@/assets/css/hsyDefine.scss';

.kc-review {
  padding: 10px;
  background-color: $white;
  border-radius: $borderRadius;
  box-shadow: 5px 5px 5px $gray;
  margin-bottom: 10px;
  .kc-review__avatar { margin-right: 10px; }
  .kc-review__head--info { display: inline-block; }

  .kc-review__name {
    font-size: 16px;
    color: $pink;
    font-weight: bold;
  }

  .kc-review__msg {
    font-size: 12px;
    color: $gray--deep;
  }
  .kc-review__review { padding: 10px; }
  .kc-review__footer { overflow: hidden; }
  .kc-review__btnGroup { float: left; }

  .kc-review__btn {
    background-color: transparent;
    border: none;
  }
  .kc-review__btn--right { float: right; }
  .kc-review__expand { padding: 10px 0 0 50px; }
}
