@import "./function.scss", "./utils.scss";

@mixin border-radius($radius: 6) {
  border-radius: px2rem($radius);
}

@mixin neuiBox ($radius: 6, $ds: 4, $color: transparent) {
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  outline: none;
  box-sizing: border-box;
  cursor: pointer;
  @include border-radius($radius);
  background-color: $color;
  box-shadow: neuiBaseTheme($ds);
}

@mixin neuiBoxActive ($ds: 4, $color: transparent) {
  background-color: $color;
  box-shadow: neuiBaseTheme($ds, true);
}
