.DS_Store

# build and modules
node_modules/
/dist/

# test file
/test/unit/coverage/
/test/e2e/reports/

# log file
npm-debug.log*
yarn-debug.log*
yarn-error.log*
selenium-debug.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# github security vulnerability warn
package-lock.json