.testKooCatUI-container {
  padding: .4rem;
  height: 800px;
  background-color: #55b9f3;

  .kc-button-xl {
    width: 200px;
    height: 200px;
    font-size: .42rem;
    color: rgba(215, 215, 215, .3);
    // color: #6cc9ff;
    font-weight: bolder;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3), -1px -1px 1px rgba(0, 0, 0, 0.3);

    &:active>span {
      // text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3), -1px -1px 1px rgba(0, 0, 0, 0.3);
      transform: translate3d(3px, 3px, 0);
      color: #000;
    }

    &.active span {
      color: #4bd12a;
      text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3), -1px -1px 1px rgba(0, 0, 0, 0.3), 0 0 6px #4bd12a;
    }
  }

  .t {}
}
