.cat-toast {
  position: fixed;
  top: 40px;
  left: 50%;
  display: flex;
  min-width: 2rem;
  padding: 15px 16px 15px 20px;
  border: 1px solid red;
  border-radius: 6px;
  transform: translateX(-50%);
}

.cat-toast__icon {}

.cat-toast__content {}

.cat-toast__btn-close {}

.cat-toast-enter-active,
.cat-toast-leave-active {
  transition: opacity 1s linear;
}

.cat-toast-enter,
.cat-toast-leave-to {
  opacity: 0;
}