$color-white: #fff;
$color-666: #666;
$color-ef: #efefef;
$color-e3: #e3e3e3;
$color-666: #666;
$color-666: #666;
$color-nav: #626e7b;
$color-666: #5e6f7d;

$icon-ggwab: url("~assets/img/ggwab.png") no-repeat;
$bg-img-sea-1920-160: url("~assets/img/sea_1920_160.png") no-repeat center center;
// background-size-cover: auto; // 自动分配占比
// background-size-contain: contain; // 容纳图片，即会缩放至与容器等宽显示完全
// background-size-cover: cover; // 根据 background-postion 设定的 x,y 展示内容

$box-shadow-default: 0 .05rem .15rem rgba(0, 0, 0, .1);

@function px2rem($px: 0) {
  @return $px / 100+rem;
}

@mixin pad($top: 0, $right: 0, $bottom: 0, $left: 0) {
  @if $top>0 {
    padding-top: px2rem($top);
  }

  @if $right>0 {
    padding-right: px2rem($right);
  }

  @if $bottom>0 {
    padding-bottom: px2rem($bottom);
  }

  @if $left>0 {
    padding-left: px2rem($left);
  }
}

@mixin mag($top: 0, $right: 0, $bottom: 0, $left: 0) {
  @if $top>0 {
    margin-top: px2rem($top);
  }

  @if $right>0 {
    margin-right: px2rem($right);
  }

  @if $bottom>0 {
    margin-bottom: px2rem($bottom);
  }

  @if $left>0 {
    margin-left: px2rem($left);
  }
}

@mixin border-radius($radius: 6) {
  border-radius: px2rem($radius);
}

@function getNeui($ds, $isActive: 0) {
  $dsVal: px2rem($ds);
  $dsValf: px2rem($ds * -1);
  $dsVal2: px2rem($ds * 2);

  @if $isActive==0 {
    @return $dsVal $dsVal $dsVal2 rgba(0, 0, 0, .25),
    $dsValf $dsValf $dsVal2 rgba(255, 255, 255, .15);
  }

  @else {
    @return inset $dsVal $dsVal $dsVal2 rgba(0, 0, 0, .25),
    inset $dsValf $dsValf $dsVal2 rgba(255, 255, 255, .15);
  }
}

@mixin neuiBox ($radius, $ds, $color: transparent) {
  padding: px2rem($radius) px2rem($radius * 2);
  @include border-radius($radius);
  background-color: $color;
  box-shadow: getNeui($ds, 0);
}

@mixin neuiBoxActive ($ds, $color: transparent) {
  background-color: $color;
  box-shadow: getNeui($ds, 1);
}


