#app {
  position: relative;
  height: inherit;
}

[class*="-container"] {
  position: relative;
  max-width: 1320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: content-box;
}

[class*="-container"]>:last-child {
  margin-bottom: 0;
}

@media (min-width: 1920px) {
  [class*="-container"] {
    max-width: 1440px;
  }
}