@import "./define.scss";

:root {
  --default: initial;
  --normal: #f5f5f5;
  --dark: #333;
}

html {
  font-size: 625%;
}

body {
  @include fontSize(16);
}

#app {
  position: relative;
  height: inherit;
}

[class*="-container"] {
  position: relative;
  max-width: 1360px;
  padding-left: .2rem;
  padding-right: .2rem;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

[class*="-container"] > :last-child {
  margin-bottom: 0;
}

@media (max-width: 1600px) {
  [class*="-container"] {
    max-width: 1280px;
  }
}

a {
  color: inherit;
}

body::-webkit-scrollbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
}

/* padding defalut setting */
@include buildAtomRuleFont;

@include buildSpaceAtomRules;

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pointer {
  cursor: pointer;
}

.flex-0 {
  flex: none;
}

.flex-1 {
  flex: auto;
}
