#app {
  position: relative;
  height: inherit;
}


.container {
  padding: 0;
}

.container.shadow {
  border: 1px solid #acacac;
  border-radius: 0.12rem;
  box-shadow: 4px 4px 8px rgba(51, 51, 51, .7)
}