.hsyClock-container {
  height: 600px;
  padding-top: 100px;
  text-align: center;
  font-size: 120px;
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;

  .test-timer {
    font-size: 280px;
  }
}
