@media (min-width: 795px) and (max-width: 1919px) {
  .tc-card:nth-child(6n+1) {
    flex: 1 1 100%;
    flex-direction: row;
  }

  .tc-card:nth-child(6n+1) .tc-card-media {
    max-width: 60%;
    height: 100%;
  }

  .tc-card:nth-child(6n+1) .tc-card-media .tc-media-img {
    height: auto;
  }
  .tc-card .tc-card-body {
    flex: 0 1 40%;
  }
}

@media (min-width: 1920px) {
  .tc-card:nth-child(8n+1) {
    flex: 1 1 100%;
    flex-direction: row;
  }

  .tc-card:nth-child(8n+1) .tc-card-media {
    max-width: 60%;
    height: 100%;
  }

  .tc-card:nth-child(8n+1) .tc-card-media .tc-media-img {
    height: auto;
  }
}